<div style="margin-top: 20px; display: flex; justify-content: center">
    <form action="/gallery" method="post" enctype="multipart/form-data">
        <input  type="file" name="picture">
        <input type="submit" name="submit">
    </form>
</div>