section {
    text-align: center;
    margin-top: 50px;
}

.continar {
    width: 600px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto;
}

span {
    font-size: 22px;
    font-weight: 500;
    color: gray;
    margin-bottom: 20px;
}

p {
    font-size: 26px;
    line-height: 30px;
    margin: 30px 0;
}

button {
    height: 44px;
    width: 220px;
    font-size: 18px;
    font-weight: bold;
    background-color: lightpink;
    border-radius: 8px;
    cursor: pointer;
}